{
  "extends": "react-app",
  "rules": {
    "no-multi-spaces": 1,
    "react/jsx-space-before-closing": 1,
    "jsx-quotes": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-boolean-value": 1,
    "react/no-string-refs": 1,
    "react/self-closing-comp": 1,
    "react/jsx-no-bind": 0,
    "react/sort-comp": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-no-target-blank": 0
  }
}
