
#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.list-item {
	height: 64px;
	padding-top: 8px;
}

.ant-menu-item-selected {
	background-color: #001529 !important;
}

.logo {
	color: #bbb;
	margin-right: 50px;
	cursor: pointer;
}

.logo:hover {
	color: #fff;
}

a:hover, a:focus, a:active {
	text-decoration: none !important;
}

